body, html {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: tan;
}

body {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
}

p {
    padding: 10px;
    margin: 0;
}
